<!-- password_change.html -->
{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-4">修改密码：</h4>
                        <form method="post" class="abd">
                            {% csrf_token %}
                            {{ form.as_p }}

                            <button type="submit" class="btn btn-primary">保存修改</button>&nbsp&nbsp&nbsp
                            <button type="submit" class="btn btn-primary">忘记旧密码</button>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                             <a href="{% url 'user_profile' %}" class="btn btn-secondary">返回</a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
